<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-blue-nav">
    <div class="container">
        <a class="navbar-brand p-3" [routerLink]="['/']"><img src="assets/img/evento.png" id="img-app"> EVENTOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" #menuDesplegable>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-white p-3" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-calendar-days"></i> Mis Eventos
                    </a>
                    <ul class="dropdown-menu bg-blue-ul p-3" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item white-custom rounded-3 pt-2 pb-2" [routerLink]="['/evento/revision']" (click)="closeToggler()"><i class="fa-solid fa-eye"></i> Revisar</a></li>
                        <li><hr class="dropdown-divider border-light border-2"></li>
                        <li><a class="dropdown-item white-custom rounded-3 pt-2 pb-2" [routerLink]="['/evento/register']" (click)="closeToggler()"><i class="fas fa-users"></i> Organizar</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-white p-3" [routerLink]="['/suscripciones']" (click)="closeToggler()"><i class="fa-regular fa-calendar-check"></i> Suscripciones</a>
                </li>
                <li class="nav-item dropdown">
                    <a #linkDropdown id="dropdownNotifications" class="nav-link link-white p-3" (mouseover)="resetColorBell()" (click)="resetColorBell()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i><svg #bell id="bellsIcon" class="icon-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 640 512">
                            <path d="M249.5 296.7C261.2 328.5 262.4 363.2 253.1 395.8L251.9 399.7L21.39 315.8C10.02 311.7 1.975 301.5 .5921 289.5C-.7912 277.5 4.728 265.7 14.86 259L23.04 253.7C57.61 230.1 83.95 197.8 98.16 159L112.8 119C137.1 50.44 213.1 15.09 282.6 40.08C287.4 41.82 292.1 43.82 296.5 46.04C232.4 88.2 203.2 170.3 230.8 245.5L249.5 296.7zM260.8 234.6C234.7 163.3 271.4 84.41 342.8 58.43C414.1 32.46 493.2 69.21 519.3 140.5L538 191.7C552 229.9 577.8 262.7 611.6 285.3L625.4 294.5C635.4 301.2 640.8 312.1 639.4 324.9C637.9 336.9 629.9 346.1 618.6 351.1L321.1 459.4C309.8 463.5 297.1 460.9 288.3 452.7C279.5 444.5 276 432 279.3 420.5L283.9 404.6C295.1 365.6 293.6 323.1 279.6 285.8L260.8 234.6zM480.8 480C459.6 480 440.8 469.9 429.1 454.1L545.2 411.9C545.3 413.2 545.3 414.5 545.3 415.8C545.3 451.3 516.4 480 480.8 480V480zM94.34 376.2L211.9 419.5C200.3 436.7 180.7 447.9 158.4 447.9C122.8 447.9 93.91 419.2 93.91 383.7C93.91 381.1 94.05 378.6 94.34 376.2V376.2z"/>
                        </svg></i> <span class="mx-2 d-none" id="notify">Notificaciones</span>
                    </a>
                    <ul #notifDropdown id="menuNotifications" class="dropdown-menu bg-blue-ul p-3">
                        <ng-container *ngFor="let notf of notifications">
                            <li class="d-flex align-items-center mb-3 rounded-3 position-relative item-notifications">
                                <a *ngIf="notf.Estado === 1" class="link-primary position-absolute circle-notif opacity-75 pointer-custom"><i class="fa-solid fa-circle sizecircle"></i></a>
                                <a class="dropdown-item pointer-custom linkcustom rounded-3 mx-2 pt-2 pb-2 position-relative" (click)="showPageDetailEvent(notf)">
                                    <div class="d-flex flex-column align-items-center">
                                        <span class="fw-bold">Evento</span>
                                        <textarea class="border-0 mt-2 no-outline pointer-custom" readonly>{{notf.TituloEvento}}</textarea>
                                        <span class="fw-bold mt-2">{{notf.InicioEvento}}</span>
                                    </div>
                                </a>
                                <a class="link-danger position-absolute top-0 end-0 p-2 pointer-custom" (click)="removeNotification(notf.Id)" title="Eliminar notificación"><li class="fas fa-trash-alt fa-lg"></li></a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-white p-3" href="#" data-bs-toggle="dropdown"><i class="fas fa-user-circle"></i> Cuenta</a>
                    <ul class="dropdown-menu dropdown-menu-end bg-blue-ul p-3">
                        <h6 class="dropdown-header">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name text-center text-white text-uppercase">{{fullName}}</div>
                            </div>
                        </h6>
                        <li><hr class="dropdown-divider border-light border-2"></li>
                        <li><a class="dropdown-item white-custom rounded-2 pt-2 pb-2" [routerLink]="['/perfil/update']" (click)="closeToggler()"><i class="fas fa-user-edit"></i> Perfil</a></li>
                        <li><a class="dropdown-item white-custom rounded-2 pt-2 pb-2" role="button" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast border-0 rounded-3" role="alert" aria-live="assertive" aria-atomic="true" #toast>
    <div class="toast-header">
        <strong class="me-auto text-white">Recordatorio</strong>
        <small class="text-white">{{message?.Inicio}}</small>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body fs-6">
        El evento: {{message?.Evento}} al que se suscribió ¡Inicia dentro de 1 hora!
    </div>
  </div>
</div>