img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.text-justify  { text-align: justify }
  
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.loader-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#eventBox{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
#eventBox:hover{
    transform: scale(0.97);
    transition: 0.4s;
}
a.disabled {
    cursor: not-allowed;
    pointer-events: none;
}