<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center fw-lighter my-4">Cambio de contraseña</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="form"  (ngSubmit)="changePassword()">
                        <div class="mb-3">
                            <label class="small px-1 text-muted">Clave</label>
                                <input class="form-control" [ngClass]="f.Clave.invalid 
                                && (f.Clave.dirty || f.Clave.touched) ? 'is-invalid' : 'form-control'" formControlName="Clave" type="password"
                                    placeholder="Ingresar la nueva clave " />
                                <span class="px-1 error" *ngIf="f.Clave.touched && f.Clave.errors?.required">La clave es
                                    requerida</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.number">Mínimo un número</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.uppercase">Mínimo una letra
                                    mayúscula</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.lowercase">Mínimo una letra
                                    minúscula</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.special">Mínimo una caracter especial:
                                    *@.%#</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.space">No debe contener espacios</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.min">Mínimo 8 caracteres</span>
                                <span class="px-1 error" *ngIf="f.Clave.errors?.max">Máximo 15 caracteres</span>
                        </div>
                        <div class="mb-3">
                            <label class="small px-1 text-muted">Confirmar clave</label>
                            <input class="form-control" [ngClass]="f.ConfirmClave.invalid 
                            && (f.ConfirmClave.dirty || f.ConfirmClave.touched) ? 'is-invalid' : 'form-control'" formControlName="ConfirmClave" type="password"
                                placeholder="Reingresar la clave " />
                            <span class="px-1 error"
                                *ngIf="f.ConfirmClave.touched && f.ConfirmClave.errors?.required">Confirmar clave
                                requerida</span>
                        </div>
                        <div class="error m-0">
                            <span *ngIf="f.ConfirmClave.errors?.matching">
                                No coinciden las claves
                            </span>
                        </div>
                        <div class="mt-5 mb-3 d-flex justify-content-between">
                            <a class="small px-1" routerLink="/auth/login">Volver al login</a>
                            <button id="btnChangePassword" [disabled]="form.invalid" type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a routerLink="#" class="enlaceFooter">Recuerde que una vez generado el enlace caduca en 5 minutos</a></div>
                </div>
            </div>
        </div>
    </div>
</div>