<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-5">VERIFICACIÓN</h1>
                <img class="mb-4 img-error" src="assets/img/link-verificacion.png" />
                <p class="lead">Revise su bandeja de entrada y confirme su correo electrónico para acceder a su cuenta</p>
                <a routerLink="/auth" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Volver al
                    inicio</a>
            </div>
        </div>
    </div>
</div>