<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-4">ERROR!</h1>
                <img class="mb-4 img-error" src="assets/img/failed.png" />
                <p class="lead">La solicitud ha fallado! Revise su conexión o intentelo más tarde</p>
                <a href="/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Volver al
                    inicio</a>
            </div>
        </div>
    </div>
</div>