<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-5">ACCESO</h1>
                <img class="mb-2 mt-2 img-error" src="assets/img/recovery-error.png" />
                <p class="lead">El enlace ha caducado o no es válido</p>
                <a routerLink="/auth/forgot" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Volver
                    a intentarlo</a>
            </div>
        </div>
    </div>
</div>