<app-loader *ngIf="showLoader"></app-loader>
<div *ngIf="!showLoader" class="container my-5">
    <div class="table-responsive">
        <table class="table bdr table-dark table-bordered caption-top align-middle">
            <tbody>
                <tr>
                    <td colspan="3" class="bg-dark text-white text-center p-4 rounded-5">
                        CONFIGURACIÓN GENERAL DEL PERFIL
                    </td>
                </tr>
                <tr>
                    <td class="text-end">INFORMACIÓN PERSONAL</td>
                    <td class="table-active">{{fullName}}...</td>
                    <td class="text-center">
                        <button class="form-control btn btn-secondary btn-sm" (click)="openModalUpdateInfo()">EDITAR</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-end">CORREO ELECTRÓNICO</td>
                    <td class="table-active">*****************</td>
                    <td class="text-center">
                        <button class="form-control btn btn-secondary btn-sm" (click)="openModalUpdateEmail()">EDITAR</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-end">CONTRASEÑA</td>
                    <td class="table-active">*****************</td>
                    <td class="text-center">
                        <button class="form-control btn btn-secondary btn-sm" (click)="openModalUpdatePassword()">EDITAR</button>
                    </td>
                </tr>
                <tr><td colspan="3" class="bg-dark p-4"></td></tr>
            </tbody>
        </table>
    </div>
</div>