<div class="modal-content">
    <div class="card-header">
        <div class="float-end my-3">
            <button type="button" class="btn-close" (click)="close()"></button>
        </div>
        <h4 class="text-center my-3 fw-lighter">{{Title}}</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="updatePassword()">
        <div class="modal-body">
            <div class="mb-3">
                <label class="small px-1 text-muted">Clave actual</label>
                <input class="form-control" [ngClass]="f.ClaveActual.invalid 
                && (f.ClaveActual.dirty || f.ClaveActual.touched) ? 'is-invalid' : 'form-control'"
                    formControlName="ClaveActual" type="password" placeholder="Ingresar su clave actual" />
                <span class="px-1 error" *ngIf="f.ClaveActual.touched && f.ClaveActual.errors?.required">La clave es
                    requerida</span>
            </div>
            <div class="mb-3">
                <label class="small px-1 text-muted">Clave</label>
                <input class="form-control" [ngClass]="f.Clave.invalid 
                && (f.Clave.dirty || f.Clave.touched) ? 'is-invalid' : 'form-control'" formControlName="Clave"
                    type="password" placeholder="Ingresar la nueva clave " />
                <span class="px-1 error" *ngIf="f.Clave.touched && f.Clave.errors?.required">La clave es
                    requerida</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.number">Mínimo un número</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.uppercase">Mínimo una letra
                    mayúscula</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.lowercase">Mínimo una letra
                    minúscula</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.special">Mínimo una caracter especial:
                    *@.%#</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.space">No debe contener espacios</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.min">Mínimo 8 caracteres</span>
                <span class="px-1 error" *ngIf="f.Clave.errors?.max">Máximo 15 caracteres</span>
            </div>
            <div class="mb-3">
                <label class="small px-1 text-muted">Confirmar clave</label>
                <input class="form-control" [ngClass]="f.ConfirmClave.invalid 
            && (f.ConfirmClave.dirty || f.ConfirmClave.touched) ? 'is-invalid' : 'form-control'"
                    formControlName="ConfirmClave" type="password" placeholder="Reingresar la nueva clave" />
                <span class="px-1 error" *ngIf="f.ConfirmClave.touched && f.ConfirmClave.errors?.required">Confirmar
                    clave
                    requerida</span>
            </div>
            <div class="error m-0">
                <span *ngIf="f.ConfirmClave.errors?.matching">
                    No coinciden las claves
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnUpdatePassword" [disabled]="form.invalid" type="submit"
                class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>