<app-loader *ngIf="showLoader"></app-loader>
<ng-container *ngIf="lstEventos && !showLoader">
    <p class="text-center mt-5 fs-3">{{Title}}</p>
    <div class="container mt-2 mb-5">
        <table id="tblEventos" class="table table-striped" width="100%">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Fecha Inicio</th>
                    <th>Hora Inicio</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evt of lstEventos">
                    <td>{{evt.Titulo}}</td>
                    <td>{{evt.FechaInicio | date: "dd/MM/yyyy"}}</td>
                    <td>{{evt.HoraInicio.substring(0,5)}}</td>
                    <td>{{Suscription===false ? evt.Categoria.Descripcion : evt.Categoria}}</td>
                    <td>{{evt.IdEstado===1 ? 'Activo':'Finalizado'}}</td>
                    <td>
                        <ng-container *ngIf="Suscription===false; else elseBlock">
                            <i class="fas fa-edit fa-lg text-secondary pointer-custom" (click)="showModalDetailEvent(evt)"></i>
                            &#160;
                            <i class="fas fa-trash-alt fa-lg text-danger pointer-custom" (click)="removeEvent(evt.Id)"></i>
                        </ng-container>
                        <ng-template #elseBlock>
                            <button type="button" class="btn btn-secondary btn-sm pb-0" (click)="showPageDetailEvent(evt)">
                                <i class="fa fa-search"></i>
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>