<div [ngClass]="Data === null ? 'container my-5':'container my-3 text-start'">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                    <div class="float-end my-3" *ngIf="Data">
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                    <h4 class="text-center my-4 fw-lighter">{{Title}}</h4>
                </div>
                <div [ngClass]="Data === null ? 'card-body':'modal-body'">
                    <form [formGroup]="serviceBuilder.form" (ngSubmit)="register()">
                        <ng-container *ngIf="Data !== null">
                            <div class="mb-2 col-md-6 offset-md-3 text-center">
                                <img [lazyLoad]="imagePreview" title="Foto del evento"  class="img-fluid img-custom" [src]="imagePreview | sanitizer"/>
                            </div> 
                            <div id="modal-custom" class="img-modal">
                                <span class="img-close">&times;</span>
                                <img [lazyLoad]="imagePreview" class="img-modal-content" id="img-inside-modal">
                                <div id="img-caption"></div>
                            </div>
                        </ng-container>
                        <div class="mb-2">
                            <label class="small px-1 text-muted">Título</label>
                            <input class="form-control" [ngClass]="f.Titulo.invalid 
                            && (f.Titulo.dirty || f.Titulo.touched) ? 'is-invalid' : 'form-control'" type="text" placeholder="Ingrese el título"
                                formControlName="Titulo" />
                            <span class="px-1 error" *ngIf="f.Titulo.touched && f.Titulo.errors?.required">
                                El título es requerido
                            </span>
                            <span class="px-1 error" *ngIf="f.Titulo.errors?.maxlength">
                                Título máximo de 100 caracteres
                            </span>
                        </div>
                        <div class="row">
                            <div [ngClass]="status === 1 ? 'mb-2':''" class="col-md-6">
                                <label class="small px-1 text-muted">Fecha de Inicio</label>
                                <input class="form-control" [ngClass]="f.FechaInicio.invalid 
                                && (f.FechaInicio.dirty || f.FechaInicio.touched) ? 'is-invalid' : 'form-control'" (blur)="availableDateStart()" type="date" formControlName="FechaInicio" />
                                <span class="px-1 error"
                                    *ngIf="f.FechaInicio.touched && f.FechaInicio.errors?.required">
                                    El fecha de inicio es requerido
                                </span>
                                <span class="px-1 error" *ngIf="f.FechaInicio.errors?.notDateStart">
                                    La fecha de inicio no puede ser menor a la fecha actual
                                </span>
                                <span class="px-1 error" *ngIf="f.FechaInicio.errors?.notDateStartEnd">
                                    La fecha de inicio no puede ser mayor a la fecha de fin
                                </span>
                            </div>
                            <div [ngClass]="status === 1 ? 'mb-2':''" class="col-md-6">
                                <label class="small px-1 text-muted">Hora de Inicio</label>
                                <input class="form-control" formatTime type="time" [ngClass]="f.HoraInicio.invalid 
                                && (f.HoraInicio.dirty || f.HoraInicio.touched) ? 'is-invalid' : 'form-control'" (blur)="availableTimeStart()" formControlName="HoraInicio" />
                                <span class="px-1 error" *ngIf="f.HoraInicio.touched && f.HoraInicio.errors?.required">
                                    La hora de inicio es requerido
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraInicio.errors?.notTimeStartActual">
                                    La hora de inicio no puede ser igual a la hora actual
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraInicio.errors?.notTimeStartMinor">
                                    La hora de inicio no puede ser menor a la hora actual
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraInicio.errors?.notTimeStartMinimum || f.HoraInicio.errors?.notTimeStartEndMinimum">
                                    La hora de inicio debe tener mínimo 30 minutos de anticipación
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraInicio.errors?.notTimeStartEnd">
                                    La hora de inicio no puede ser mayor o igual a la hora final
                                </span>
                            </div>
                        </div>
                        <span *ngIf="status === 1"><i id="box-link" [ngClass]="!isShowBoxDateTime ? 'fa-solid fa-square-plus' : 'fa-solid fa-square-minus'" (click)="showBoxDateTime(!isShowBoxDateTime)"></i>&nbsp;<a
                                class="enlaceFooter small">Fecha y hora de
                                finalización</a></span>
                        <div class="row" *ngIf="isShowBoxDateTime">
                            <div [ngClass]="status === 1 ? 'mb-2':''" class="col-md-6">
                                <label class="small px-1 text-muted">Fecha de Fin</label>
                                <input class="form-control" type="date" [ngClass]="f.FechaFin.invalid 
                                && (f.FechaFin.dirty || f.FechaFin.touched) ? 'is-invalid' : 'form-control'" (blur)="availableDateEnd()" formControlName="FechaFin" />
                                <span class="px-1 error" *ngIf="f.FechaFin.touched && f.FechaFin.errors?.required">
                                    El fecha de fin es requerido
                                </span>
                                <span class="px-1 error" *ngIf="f.FechaFin.errors?.notDateEnd">
                                    La fecha de fin no pueder ser menor a la fecha de inicio
                                </span>
                                <span class="px-1 error" *ngIf="f.FechaFin.errors?.notDateCurrent">
                                    La fecha de fin no pueder ser menor a la fecha actual
                                </span>
                            </div>
                            <div [ngClass]="status === 1 ? 'mb-2':''" class="col-md-6">
                                <label class="small px-1 text-muted">Hora de Fin</label>
                                <input class="form-control" formatTime type="time" [ngClass]="f.HoraFin.invalid 
                                && (f.HoraFin.dirty || f.HoraFin.touched) ? 'is-invalid' : 'form-control'" (blur)="availableTimeEnd()" formControlName="HoraFin" />
                                <span class="px-1 error" *ngIf="f.HoraFin.touched && f.HoraFin.errors?.required">
                                    El hora de fin es requerido
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraFin.errors?.notTimeEndActual">
                                    La hora de fin no puede ser menor o igual a la hora actual
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraFin.errors?.notTimeEndStart">
                                    La hora de fin no puede ser igual a la hora de inicio
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraFin.errors?.notTimeEndMinor">
                                    La hora de fin no puede ser menor a la hora de inicio
                                </span>
                                <span class="px-1 error" *ngIf="f.HoraFin.errors?.notTimeEndMinimum">
                                    La hora de fin debe durar mínimo 30 minutos partiendo de la hora inicial
                                </span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="small px-1 text-muted" *ngIf="status === 1">Foto</label>
                            <div class="input-group" *ngIf="Data !== null">
                                <ng-container *ngIf="status === 1">
                                    <label id="btnFile" class="btn btn-secondary">
                                        <input type="file" class="d-none" formControlName="FileTemporal" accept=".jpg, .png" (change)="onFileChanged($event)">Cambiar foto
                                    </label>
                                    <span class="d-inline-block text-truncate input-group-text form-control bg-white text-start">
                                        {{spanFileName}}
                                    </span>
                                </ng-container>
                            </div>
                            <input *ngIf="Data === null" class="form-control" type="file"
                                formControlName="FileTemporal" accept=".jpg, .png" (change)="onFileChanged($event)" />
                                
                            <span class="px-1 error" *ngIf="f.FileTemporal.errors?.notFormat">
                                Se permiten sólo formatos png y jpg
                            </span>
                            <span class="px-1 error" *ngIf="f.FileTemporal.dirty && f.FileTemporal.errors?.notSize">
                                El peso de la imagen no debe ser superior a 3 MB
                            </span>
                        </div>
                        <div class="mb-2">
                            <label class="small px-1 text-muted">Dirección</label>
                            <input class="form-control" [ngClass]="f.Ubicacion.invalid 
                            && (f.Ubicacion.dirty || f.Ubicacion.touched) ? 'is-invalid' : 'form-control'" type="text" placeholder="Ingrese la dirección"
                                formControlName="Ubicacion" />
                            <span class="px-1 error" *ngIf="f.Ubicacion.touched && f.Ubicacion.errors?.required">
                                La ubicación es requerida
                            </span>
                            <span class="px-1 error" *ngIf="f.Ubicacion.errors?.maxlength">
                                Ubicación máxima de 500 caracteres
                            </span>
                        </div>
                        <div class="mb-2">
                            <label class="small px-1 text-muted">Información adicional</label>
                            <textarea class="form-control" [ngClass]="f.InformacionAdicional.invalid 
                            && (f.InformacionAdicional.dirty || f.InformacionAdicional.touched) ? 'is-invalid' : 'form-control'" type="text"
                                placeholder="Ingrese información adicional sobre el evento"
                                formControlName="InformacionAdicional"></textarea>
                            <span class="px-1 error" *ngIf="f.InformacionAdicional.errors?.maxlength">
                                Informacion adicional máxima de 500 caracteres
                            </span>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="small px-1 text-muted">Categoría</label>
                                <select class="form-select" [ngClass]="f.IdCategoria.invalid 
                                && (f.IdCategoria.dirty || f.IdCategoria.touched) ? 'is-invalid' : 'form-control'" formControlName="IdCategoria">
                                    <option value="">Seleccionar</option>
                                    <option value="{{categoria.Id}}" *ngFor="let categoria of lstCategorias">{{categoria.Descripcion}}</option>
                                </select>
                                <span class="px-1 error"
                                    *ngIf="f.IdCategoria.touched && f.IdCategoria.errors?.required">
                                    Seleccione una opción
                                </span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <span>&nbsp;</span>
                                <input *ngIf="Data === null" id="btnRegEvento" [disabled]="serviceBuilder.form.invalid" class="form-control btn btn-primary" type="submit" value="Crear un evento" />
                                <input *ngIf="Data !== null" id="btnUpdateEvento" [disabled]="serviceBuilder.form.invalid" [ngClass]="status === 1 ? 'form-control btn btn-primary':'d-none'" type="submit" value="Actualizar">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" *ngIf="Data !== null">
                    <div class="mx-auto">
                        <label class="text-muted fs-5">EVENTO {{status===1 ? 'ACTIVO' : status===4 ? 'PROCESADO' : status===5 ? 'NOTIFICADO' : ''}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>