.error{
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    color: #d9534f;
}
.enlaceFooter{
    text-decoration: none;
    pointer-events: none;
   cursor: default;
}
.img-error {
    max-width: 20rem;
}