<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-1">500</h1>
                <img class="mb-4 img-error" src="assets/img/500.png" />
                <p class="lead">Error interno del servidor</p>
                <a routerLink="/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Volver al
                    inicio</a>
            </div>
        </div>
    </div>
</div>