@media screen and (max-width: 550px) {
    #timetable {
        display: inline-block !important;
    }
}
.text-justify{
    text-align: justify;
}

.card-shadow{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.widthCardImage{
    width: 18rem;
}